.opinion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: gray;
}
.centro-salud{
    display: flex;
    align-items: center;

}
.texto-centro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: grey;
    padding: 10px;
       
    & h3{
        margin: 0;
                
    }
    & button{
        padding: 7px;
        border-radius: 5px;
        border-width: 1px;
    }
    .reserva-cita{
        background-color: white;
        border: 3px solid gray;
        color: rgb(98, 96, 96);
        font-weight: bold;
    }
    .presupuesto{
        background-color: gray;
        color: white;
        font-weight: bold;
        border: 3px solid gray;
    }
}
.comentarios-nota{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px;

}
.nota{
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(164, 163, 163);
    border: none;
    font-weight: bold;

}